@media screen and (max-width:1366px) {
    :host ::ng-deep .mi-dialogo {
        width: 25vw !important;
        height: 68vh !important;
        border-radius: 10px;
        overflow: hidden;
        color: white;
        background: #304772;
    }

    .content-int {
        //border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
    }

    .content-1 {
        display: flex;
        flex-direction: row;
        padding: 0px;
        border-radius: 5px;
        gap: 5px;
        width: 100%;
        border: none;
    }

    .item-1 {
        margin: 0;
        width: 100%;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        min-height: 6vh;
        width: 100%;
    }

    .item-2 {
        margin: 0;
        width: 15vw;
    }

    .content-3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .item-3 {
        margin: 0;
        width: 15vw;
    }

    .content-4 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 5px;
        min-height: 6vh;
        width: 100%;
        gap: 10px;
    }

    .item-4 {
        margin: 0;
    }

    :host ::ng-deep .p-inputnumber input {
        border-color: black;
        width: 15vw;
        height: 5vh !important;
        font-size: 1.5rem;
    }

    .w-full {
        width: 100% !important;
        height: 40px;
        border-radius: 5px;
    }

}

@media screen and (min-width:1440px) {
    :host ::ng-deep .mi-dialogo {
        width: 25vw !important;
        height: 68vh !important;
        border-radius: 10px;
        overflow: hidden;
        color: white;
        background: #304772;
    }

    .content-int {
        //border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
    }

    .content-1 {
        display: flex;
        flex-direction: row;
        padding: 0px;
        border-radius: 5px;
        gap: 5px;
        width: 100%;
        border: none;
    }

    .item-1 {
        margin: 0;
        width: 100%;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        min-height: 6vh;
        width: 100%;
    }

    .item-2 {
        margin: 0;
        width: 15vw;
    }

    .content-3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .item-3 {
        margin: 0;
        width: 15vw;
    }

    .content-4 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 5px;
        min-height: 6vh;
        width: 100%;
        gap: 10px;
    }

    .item-4 {
        margin: 0;
    }

    :host ::ng-deep .p-inputnumber input {
        border-color: black;
        width: 15vw;
        height: 5vh !important;
        font-size: 1.5rem;
    }

    .w-full {
        width: 100% !important;
        height: 40px;
        border-radius: 5px;
    }


}

/* Estilos para pantallas medianas y pequeñas (hasta 1600px de ancho) */
@media screen and (min-width:1600px) {
    :host ::ng-deep .mi-dialogo {
        width: 28vw !important;
        height: 80vh !important;
        border-radius: 10px;
        overflow: hidden;
        color: white;
        background: #304772;
    }

    .content-int {
        //border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
    }

    .content-1 {
        display: flex;
        flex-direction: row;
        padding: 0px;
        border-radius: 5px;
        gap: 5px;
        width: 100%;
        border: none;
    }

    .item-1 {
        margin: 0;
        width: 100%;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        min-height: 6vh;
        width: 100%;
    }

    .item-2 {
        margin: 0;
        width: 15vw;
    }

    .content-3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .item-3 {
        margin: 0;
        width: 15vw;
    }

    .content-4 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 5px;
        min-height: 6vh;
        width: 100%;
        gap: 10px;
    }

    .item-4 {
        margin: 0;
    }

    :host ::ng-deep .p-inputnumber input {
        border-color: black;
        width: 15vw;
        height: 5vh !important;
        font-size: 1.5rem;
    }

    .w-full {
        width: 100% !important;
        height: 40px;
        border-radius: 5px;
    }

}

/* Estilos para pantallas medianas y pequeñas (hasta 1600px de ancho) */
@media screen and (min-width:1920px) {

    :host ::ng-deep .mi-dialogo {
        width: 32vw !important;
        height: 70vh !important;
        border-radius: 10px;
        overflow: hidden;
        color: white;
        background: #304772;
    }

    .content-int {
        //border: 1px solid white;
        padding: 10px;
        border-radius: 5px;
    }

    .content-1 {
        display: flex;
        flex-direction: row;
        padding: 0px;
        border-radius: 5px;
        gap: 5px;
        width: 100%;
        border: none;
    }

    .item-1 {
        margin: 0;
        width: 100%;
    }

    .content-2 {
        display: flex;
        flex-direction: row;
        min-height: 6vh;
        width: 100%;
        gap: 5px;
    }

    .item-2 {
        margin: 0;
    }

    .content-3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 5px;
    }

    .item-3 {
        margin: 0;
        width: 15vw;
    }

    .content-4 {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        padding-right: 5px;
        min-height: 6vh;
        width: 100%;
        gap: 10px;
    }

    .item-4 {
        margin: 0;
    }

    :host ::ng-deep .p-inputnumber input {
        border-color: black;
        width: 15vw;
        height: 5vh !important;
        font-size: 1.5rem;
    }

    .w-full {
        width: 100% !important;
        height: 40px;
        border-radius: 5px;
    }

}


hr {
    border: 1px solid white;
}