<p-toast position="bottom-left"></p-toast>
<p-dialog header="Facturar electrónico:" [(visible)]="visible" (visibleChange)="visibleChange.emit($event)"
    [modal]="true" styleClass="mi-dialogo" [closable]="false" (onShow)="funct_retorna_ventas_c()"
    (onHide)="funct_retorna_ventas_c()">
    <div class="content-int">
        <form [formGroup]="form">
            <div class="content-1">
                <div class="item-1">
                    <div class="flex flex-col mt-2">
                        <label for="mySelect">Cliente</label>
                        <p-select [options]="data_clientes_fe" optionLabel="nombre" [filter]="true" filterBy="nombre"
                            [showClear]="false" class="w-full md:w-56" formControlName="cliente"
                            (onChange)="funct_retorna_one_cliente_fe($event)">
                            <ng-template #selectedItem let-selectedOption>
                                <div class="flex items-center gap-2">
                                    <div>{{ selectedOption.nombre }}</div>
                                </div>
                            </ng-template>
                            <ng-template let-clientes #item>
                                <div class="flex items-center">
                                    <div>{{ clientes.nombre }}</div>
                                </div>
                            </ng-template>
                        </p-select>
                    </div>
                </div>
            </div>
            <hr>
            <div class="content-2">
                <div class="item-2">
                    <div class="flex flex-col">
                        <label for="forma_pago">Medio de pago</label>
                        <p-select #forma_pago [options]="medio_de_pago" optionValue="id" optionLabel="nombre"
                            [showClear]="true" formControlName="medio_pago" />
                    </div>
                </div>
                <div class="item-2">
                    <div class="flex flex-col">
                        <label for="forma_pago">Forma de pago</label>
                        <p-select #forma_pago [options]="forma_de_pago" optionValue="id" optionLabel="nombre"
                            [showClear]="true" formControlName="forma_pago" />
                    </div>
                </div>
            </div>
            <hr>
            <div class="content-3">
                <div class="item-3">
                    <div class="flex flex-col">
                        <label for="efectivo">Total a pagar:</label>
                        <p-inputnumber inputId="efectivo" autofocus mode="currency" currency="USD" locale="en-US"
                            [minFractionDigits]="0" [maxFractionDigits]="0" autocomplete="off"
                            formControlName="total_pago" readonly />
                    </div>
                </div>
                <div class="item-3">
                    <div class="flex flex-col">
                        <label for="monto_rec">Monto recibido:</label>
                        <p-inputnumber #monto_rec mode="currency" currency="USD" locale="en-US" [minFractionDigits]="0"
                            [maxFractionDigits]="0" autocomplete="off" formControlName="monto_rec"
                            (keydown.enter)="funct_calcula_efectivo()" />
                    </div>
                    <div class="item-3">
                        <div class="flex flex-col">
                            <label for="efectivo">Cambio:</label>
                            <p-inputnumber inputId="efectivo" autofocus mode="currency" currency="USD" locale="en-US"
                                [minFractionDigits]="0" [maxFractionDigits]="0" autocomplete="off"
                                formControlName="cambio" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <div class="content-4">
            <div class="item-4">
                <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-success w-full"
                    (click)="funct_close_detalle_factura();"></button>
            </div>
            <div class="item-4">
                <button pButton pRipple label="Cerrar" icon="pi pi-times-circle" class="p-button-help w-full"
                    (click)="funt_close_dialog_detalle_factura();"></button>
            </div>
            <div class="item-4">
                <button pButton pRipple label="Imprimir" icon="pi pi-print" class="p-button-warn w-full"
                    [disabled]="habilitado"></button>
            </div>
        </div>
    </div>
</p-dialog>