@media screen and (max-width: 1366px) {
    .div-dialogo {
        border-radius: 5px;
        width: 98.7%;
        height: 77vh;
        margin-left: 5px;
        margin-top: 5px;
        background: #1e3c72;
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);
        background: linear-gradient(to bottom, #B06AB3, #1e3c72);
        padding: 20px;
    }

    .content-1 {
        border-radius: 5px;
        width: 100%;
        height: 84vh;
        padding: 10px;
    }

    .item-1 {
        margin: 0;
        width: 100%;
        height: 76vh;
        border: 1px solid white;
    }

    .content-2 {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        gap: 5px;
    }

    .item-2 {
        margin: 0;
        width: 10vw;
    }

    .item-3 {
        margin: 0;
        width: 20vw;
    }

    :host ::ng-deep .p-inputtext {
        border-color: black;
        width: 100% !important;
        height: 5vh;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        height: 75vh !important;
        overflow-x: auto;
    }

    :host ::ng-deep .p-datatable .p-datatable-tbody>tr {
        padding: 0.3rem 0.4rem;
        font-size: 10px;
        color: white;
        border: 1px solid white !important;
        background: #304772;
    }

    :host ::ng-deep .p-datatable .p-datatable-thead>tr>th,
    :host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
        padding: 0.3rem 0.5rem;
        background: #304772;
        color: white;
        font-size: 12px;
    }

    .w-full {
        width: 100% !important;
        height: 28px;
        border-radius: 5px;
    }


}

@media screen and (min-width: 1440px) {
    .div-dialogo {
        border-radius: 5px;
        width: 98.7%;
        height: 79vh;
        margin-left: 5px;
        margin-top: 5px;
        padding: 20px;
        background: #1e3c72;
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);
        background: linear-gradient(to bottom, #B06AB3, #1e3c72);
    }

    .content-1 {
        border-radius: 5px;
        width: 100%;
        height: 85vh;
        padding: 10px;
    }

    .item-1 {
        margin: 0;
        width: 100%;
        height: 78vh;
        border: 1px solid white;
    }

    .content-2 {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        gap: 5px;
    }

    .item-2 {
        margin: 0;
        width: 10vw;
    }

    .item-3 {
        margin: 0;
        width: 20vw;
    }

    :host ::ng-deep .p-inputtext {
        border-color: black;
        width: 100% !important;
        height: 5vh;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        height: 77vh !important;
        overflow-x: auto;
    }

    :host ::ng-deep .p-datatable .p-datatable-tbody>tr {
        padding: 0.3rem 0.5rem;
        font-size: 12px;
        color: white;
        border: 1px solid white !important;
        background: #304772;
    }

    :host ::ng-deep .p-datatable .p-datatable-thead>tr>th,
    :host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
        padding: 0.3rem 0.5rem;
        background: #304772;
        color: white;
    }

    .w-full {
        width: 100% !important;
        height: 37px;
        border-radius: 5px;
    }

}

@media screen and (min-width: 1600px) {
    .div-dialogo {
        border-radius: 5px;
        width: 98.7%;
        height: 79vh;
        margin-left: 5px;
        margin-top: 5px;
        padding: 20px;
        background: #1e3c72;
        background: -webkit-linear-gradient(to bottom, #B06AB3, #1e3c72);
        background: linear-gradient(to bottom, #B06AB3, #1e3c72);
    }

    .content-1 {
        border-radius: 5px;
        width: 100%;
        height: 85vh;
        padding: 10px;
    }

    .item-1 {
        margin: 0;
        width: 100%;
        height: 78vh;
        border: 1px solid white;
    }

    .content-2 {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        gap: 5px;
    }

    .item-2 {
        margin: 0;
        width: 10vw;
    }

    .item-3 {
        margin: 0;
        width: 20vw;
    }

    :host ::ng-deep .p-inputtext {
        border-color: black;
        width: 100% !important;
        height: 5vh;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        height: 77vh !important;
        overflow-x: auto;
    }

    :host ::ng-deep .p-datatable .p-datatable-tbody>tr {
        padding: 0.3rem 0.5rem;
        font-size: 12px;
        color: white;
        border: 1px solid white !important;
        background: #304772;
    }

    :host ::ng-deep .p-datatable .p-datatable-thead>tr>th,
    :host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
        padding: 0.3rem 0.5rem;
        background: #304772;
        color: white;
    }

    .w-full {
        width: 100% !important;
        height: 37px;
        border-radius: 5px;
    }

}

/* Estilos para pantallas medianas y pequeñas (hasta 1600px de ancho) */
@media screen and (min-width: 1920px) {
    .div-ppal {
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        width: 100%;
        height: 93vh;
        margin-top: 10px;
        padding: 10;
        gap: 7px;
    }

    .content-1 {
        border-radius: 5px;
        width: 100%;
        height: 85vh;
        padding: 10px;
    }

    .item-1 {
        margin: 0;
        width: 100%;
        height: 80vh;
        border: 1px solid white;
    }

    .content-2 {
        display: flex;
        flex-direction: row;
        border-radius: 5px;
        width: 100%;
        padding: 10px;
        gap: 5px;
    }

    .item-2 {
        margin: 0;
        width: 10vw;
    }

    .item-3 {
        margin: 0;
        width: 20vw;
    }

    :host ::ng-deep .p-inputtext {
        border-color: black;
        width: 100% !important;
        height: 5vh;
    }

    :host ::ng-deep .p-datatable {
        width: 100%;
        height: 79vh !important;
        overflow-x: auto;
    }

    :host ::ng-deep .p-datatable .p-datatable-tbody>tr {
        padding: 0.3rem 0.5rem;
        font-size: 15px;
        color: white;
        border: 1px solid white !important;
        background: #304772;
    }

    :host ::ng-deep .p-datatable .p-datatable-thead>tr>th,
    :host ::ng-deep .p-datatable .p-datatable-tbody>tr>td {
        padding: 0.3rem 0.4rem;
        background: #304772;
        color: white;
    }

    .w-full {
        width: 100% !important;
        height: 45px;
        border-radius: 5px;
    }
}

label {
    color: white;
}

:host ::ng-deep .p-paginator {
    background: #304772;
}

:host ::ng-deep .p-paginator .p-paginator-page,
:host ::ng-deep .p-paginator .p-paginator-next,
:host ::ng-deep .p-paginator .p-paginator-prev {
    background-color: aliceblue;
    border-radius: 5px;
    color: black;
}

p {
    color: white;
    font-size: 19px;
}